.card-title{
    text-align: center;
    padding: 1rem;
}
.card-text{
    text-align: center;
    padding: 1rem;
}

img{
    width: 50%;
    align-self: center;
    height: 50%;
    padding-top: 1.5rem;
}

.box{
    background-color:rgb(247, 242, 242);
    
}

.delete-btn{
    font-size: 20px;
    color: rgb(255, 255, 255);
    align-self: flex-end;
    margin: 6px;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(66, 65, 18);
}
.delete-btn:hover{
    background-color: rgb(87, 14, 14);
    color: white;
}